*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: Quite Chocolatey;
    src: url(../fonts/Quite_Chocolatey.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: PT_Serif-Web-Regular;
    src: url(../fonts/PT_Serif-Web-Regular.ttf);
}
@font-face {
    font-family: PT_Serif-Web-Bold;
    src: url(../fonts/PT_Serif-Web-Bold.ttf);
}
@font-face {
    font-family: couture-bold;
    src: url(../fonts/couture-bold.otf);
}
body{
    width: 1200px;
    background-image: url(../img/background.png);
    background-size:1200px 690px;
    background-repeat: no-repeat;
    margin:0 auto;
    background-position: top center;
}
.header{
    max-width: 1000px;
    height: 100px;
    margin:0 auto;
    margin-top:33px;
}
.main-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: Quite Chocolatey;
    text-decoration: none;
    text-transform: uppercase;
    font-size:88.32px;
    color:white;
    cursor:pointer;
}
.menu{
    display: flex;
    list-style: none;
    gap:25px;
    text-transform: uppercase;
}
.menu__item{
    font-family: Montserrat-Regular;
    font-size: 18px;
    color:white;
    text-decoration: none;
    padding:5px;
}
.menu__item:hover{
    border:2px solid rgb(19 14 39);
    background-color: rgb(19 14 39);
    border-radius: 5px;
}
.container-main{
    max-width: 1000px;
    margin:0 auto;
    margin-top: 160px;
    margin-bottom: 200px;
}
.title{
    font-family: Montserrat-Bold;
    font-size:90px;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -5px;
}
.first{
    color:rgb(19 14 39);
}
.second{
    color:white;
}
.descritp{
    display: flex;
    justify-content: flex-start;
    width:470px;
    font-family: PTSerif-Regular;
    font-size:18px;
    color:white;
    margin-top:30px;
}
.container-services{
    width: 1000px;
    margin:0 auto;
}
.title-s{
    font-family: Couture;
    font-weight:700;
    font-size:50px;
    text-transform: uppercase;
}
.one{
    color:rgb(198 35 20);
}
.two{
    color:rgb(19 14 39);
}
.service{
    margin-top:99px;
    margin-bottom:70px;
}
.services{
    display:flex;
    list-style: none;
    gap:120px;
}
.service__item__descript{
    font-family: PTSerif-Regular;
    font-size:20px;
    line-height:28px;
    bottom:0;
    width: 100%;
    text-align:center;
    padding-top: 50px;
}
.service__item__descript.num3{
    padding-top:35px;
}
.service__item__descript.num2{
    padding-top:55px;
}
.service__item__descript.num4{
    padding-top:35px;
}
.container-small-block{
    display:flex;
    justify-content: center;
    align-items: center;
    width:1200px;
    height: 120px;
    background-color:rgb(19 14 39);
}
.small-block{
    display: flex;
    justify-content:space-between;
    width: 1000px;
    margin:0 auto;
    gap:120px;
}
.text{
    align-self: flex-start;
    font-family: PTSerif-Regular;
    font-size:20px;
    line-height: 28px;
    color:white;
}
.story{
    font-family: Montserrat-Regular;
    font-size:22px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color:white;
    border:1px solid rgb(198 35 20);
    background-color: rgb(198 35 20);
    align-self: center;
    padding:10px 25px;
    border-radius: 2px;
}
.container-price{
    display:flex;
    width:1200px;
    height: 615px;
    background-color:rgb(239 239 239);
}
.pricing{
    max-width: 1000px;
    margin:0 auto;
}
.pricing-titile{
    padding-top:50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size:50px;
    color:rgb(19 14 39);
    text-transform: uppercase;
}
.price-box{
    display:flex;
    justify-content: space-between;
    gap:25px;
    width: 1000px;
    height:390px;
}
.price-box__starter,.price-box__business,.price-box__professional{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    background-color: white;
    width:325px;
    height: 389px;
}
.price-box__starter__title,.price-box__business__title,.price-box__professional__title{
    font-family: PTSerif-Regular;
    font-size:22px;
    text-transform: capitalize;
    font-weight: 400;
    padding-top:33px;
    padding-bottom: 35px;
}
.price-box__starter__price,.price-box__business__price,.price-box__professional__price{
    font-family: Montserrat-Bold;
    font-size:60px;
    text-transform: uppercase;
    color:rgb(198 35 20);
    padding-bottom:25px;
}
.price-box__starter__description,.price-box__business__description,.price-box__professional__description{
    list-style: none;
    text-align: center;
    text-transform: capitalize;
    font-family: PTSerif-Regular;
    font-size:22px;
    line-height: 25px;
}
.price-box__professional__button,.price-box__starter__button,.price-box__business__button{
    width: 200px;
    height:50px;
    font-family: Montserrat-Regular;
    font-size:22px;
    text-transform: uppercase;
    background-color:rgb(19 14 39);
    color:white;
    margin-top:10px;
}
.price-box__professional__button:hover,.price-box__starter__button:hover,.price-box__business__button:hover{
    background-color:rgb(198 35 20);
}
.footer{
    width:1200px;
    height: 188px;
    background-color:rgb(19 14 39)
}
.container-footer{
    width: 1000px;
    height: 188px;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}
.footer-text,.footer-link{
    font-family: PTSerif-Regular;
    font-size:20px;
    text-decoration: none;
}
.footer-link{
    color:rgb(198 35 20);
}
.footer-logo{
    text-transform: uppercase;
    color:rgb(198 35 20);
    text-decoration: none;
    font-family:Quite Chocolatey;
    font-size: 64.36px;